<div class="container">
  <div class="row">
    <% if @over_ten %>
      <%= link_to "Show Previous", '?m=all', class: "btn btn-primary" %>
    <% end %>
    <% @messages.each do |message| %>
      <% if message.body %>
        <% user = User.find_by_id(message.user_id) %>
        <% if user %>
          <% if user == current_user %>
            <div class="col-sm-6 bubble-box offset-sm-1">
              <div>
                <p style="margin-top: 20px; margin-bottom: 4px;"><strong><%= user.username %></strong><%= message.message_time %></p>
              </div>
              <div class="bubble-right" >
                <p><%= message.body %></p>
              </div>
            </div>
          <% else %>
            <div class="col-sm-6 bubble-box offset-sm-4">
              <div>
                <p style="margin-top: 20px; margin-bottom: 4px;"><strong><%= user.username %></strong><%= message.message_time %></p>
              </div>
              <div class="bubble-left" >
                <p><%= message.body %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h5 class="text-justify">說點什麼：</h4>
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
        <div class=”form-group”>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
        </div>
        <div>
          <%= f.submit "Add Reply", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>