<div class="container">

  <h2 style="padding-top: 10px">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "new_form") do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control user-sign' %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control user-sign', id: 'password' %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control user-sign' %>
    </div>

    <div class="actions" style="padding: 20px 0;">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

<script>
$().ready(function() {
  $(".new_user").validate({
    errorElement: "span",
    success: function(label) {
        label.text(" ").addClass("success");
      },
    highlight: function(element) {
        $(element).css('border-color', '#a94442');
        $(element).next().removeClass("success");
    },
    unhighlight: function(element) {
        $(element).css('border-color', 'green');
    },
    rules: {
      'user[password]': {
        required: true,
        minlength: 6
      },
      'user[password_confirmation]': {
        required: true,
        minlength: 6,
        equalTo: "#password"
      },
      'user[email]': {
        required: true,
        email: true
      },
      topic: {
        required: "#newsletter:checked",
        minlength: 2
      },
      agree: "required"
    },
    })
});
</script>