<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  註冊
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<div class="row">
  <div class="col s10 m9">
    <div class="left-margin">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row input-row">
      <div class="input-field col s12 m10 l8 input-row-field">
        <p class="verify-input-label">Email</p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: '' %>
        <input type="checkbox" id="emailcheck" name="emailcheck">
      </div>
    </div>

    <div class="row input-row">
      <div class="input-field col s12 m10 l8 input-row-field">
        <p class="verify-input-label">Password
          <% if @minimum_password_length %>
          <em>(至少<%= @minimum_password_length %>位英數字混合)</em>
          <% end %>
        </p>
        <%= f.password_field :password, autocomplete: "off", class: '', id: 'password' %>
      </div>
    </div>

    <div class="row input-row">
      <div class="input-field col s12 m10 l8 input-row-field">
        <p class="verify-input-label">Password Confirmation</p>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: '' %>
      </div>
    </div>

    <div class="input-field">
      <div>
        <label>
        <input type="checkbox" id="agree" name="agree">
        <span>我已閱讀並同意
          <%= link_to "個資內容",consent_path, target: :_blank %>
        </span>
        </label>
      </div>
    </div>

    <div style="padding: 20px 0;">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

    </div>
  </div>

  <div class="col s3">
  </div>

</div>

<script>
$().ready(function() {
  $(".new_user").validate({
    errorElement: "span",
    success: function(label) {
        label.text(" ").addClass("success");
      },
    highlight: function(element) {
        $(element).css('border-color', '#a94442');
        $(element).next().removeClass("success");
    },
    unhighlight: function(element) {
        $(element).css('border-color', 'green');
    },
    rules: {
      'user[password]': {
        required: true,
        minlength: 6
      },
      'user[password_confirmation]': {
        required: true,
        minlength: 6,
        equalTo: "#password"
      },
      'user[email]': {
        required: true,
        email: true
      },
      agree : "required",
      emailcheck : "required",
    },
    messages: {
      agree: "請確認",
      emailcheck: "Email帳號重複"
    }
    })

  /* ajax 驗證user email*/
  $("#user_email").on('change keyup paste',function(){
      $.post('/checkemail?email='+$("#user_email").val(),function(data){
        if(data["email_exists"]==false){
          $("#emailcheck").prop("checked", 1);
          $("#emailcheck-error").hide();
        }else{
          $("#emailcheck").prop("checked", 0);
          $("#emailcheck-error").show();
        }
      });
  });

});
</script>