<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  約會結果
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)你可以幫助其他人完成約會，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<h5 class="div-title" style="display: block;">
  <%= link_to "回上一頁", :back, {class: "btn"} %>
</h5>

<div class="row">
  <div class="col s10 m9" style="padding-left: 40px;">

  	<h5><%=@match.female_user.username%>與<%=@match.male_user.username%>的約會</h5>

		<%if @match.verify.avg_score >= 60 %>
			<%= image_tag "approved.png", {class: "result-img"} %>
			<p>恭喜，網友認為你們很適合喔～</p>
			<a href="">開始聊天</a>
		<%else%>
			<%= image_tag "rejected.png", {class: "result-img"}%>
			<p>失敗沒關係，下一個會更好～</p>
		<%end%>

		<hr class="center-hr">

		<table class="striped highlight responsive-table">
			<thead>
				<th>#</th>
				<th>Comments</th>
			</thead>
			<tbody>
				<% num = 1 %>
				<% @comments.each do |comment| %>
				<tr>
					<td><%= num %></td>
					<td>
						<%= comment.user.username %>說：<%= comment.content %>
						<% num = num + 1 %>
					</td>
				</tr>
  			<% end %>
			</tbody>
		</table>

	</div>

	<div class="col s3">
  facebook plug-in
	</div>

</div>

<script>

</script>