<div class="container" id="result">
	<% if @match.verify.comments_count != 0 %>

		<div class="row" style=" padding-top: 20px;">
			<div class="col-sm-3 approve-reject-outter">
				<%if @match.verify.avg_score >= 60 %>
					<%= image_tag "approved.png", class: "approve-reject-fit" %>
				<%else%>
					<%= image_tag "rejected.png", class: "approve-reject-fit"%>
				<%end%>
			</div>
			<div class="col-sm-9">
				<h4>你與
					<%=@match.female_user.username if current_user.gender == "Male" %>
					<%=@match.male_user.username if current_user.gender == "Female" %>
				的約會</h4>
				<h5><%= distance_of_time_in_words(Time.now, @match.dating_datetime)%> ago</h5>
				<h6>
					<%="約會成功" if @match.verify.avg_score >= 60 %>
					<%="約會失敗" if @match.verify.avg_score < 60 %>
				</h6>
			</div>
		</div>
		<div class="row">
			<table class="table">
				<thead>
					<th>#</th>
					<th>Comments</th>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @comments.each do |comment| %>
					<tr>
						<td><%= num %></td>
						<td>
							<%= comment.user.username %>說：<%= comment.content %>
							<% num = num + 1 %>
						</td>
					</tr>
	  			<% end %>
				</tbody>
			</table>
		</div>

	<% else %>
	<br>
	<h4 style="padding: 20px 0px; margin-bottom: 0;">
		Sorry，無人參與此次驗證，系統已重新安排約會。
	</h4>
	<% end %>

	<div class="coffe-outter">
		<%if @match.verify.avg_score >= 60 %>
			<%= image_tag "coffe-couple.png", class: "coffe-fit" %>
		<%else%>
			<%if current_user.gender == "MALE" %>
				<%= image_tag "coffe-male.png", class: "coffe-fit"%>
			<%else%>
				<%= image_tag "coffe-female.png", class: "coffe-fit"%>
			<%end%>
		<%end%>
	</div>

</div>