<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="text-info text-center">All Users</h3>
      <% if @users %>
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <div class="row">
              <div class="col-sm-6 offset-sm-3">
                <div class="card" style="width: 18rem;">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= user.username %></h5>
                    <%= link_to "Message me!", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post, class: "btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-6">
    <h3 class="text-info text-center">Mailbox</h3>
    <div class="row">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="col-sm-6 offset-sm-3 text-center">
            <%= link_to recipient.username, conversation_messages_path(conversation), class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
