<div class="container container-fluid">
  <div class="page-header text-center">
    <h1>Eaves管理後台</h1>
  </div>
  <div class="container-fluid">
    <%= render partial: "admin/shared/navtab" %>
  </div>
  <br>
  <div class="container-fluid">
    <h2>共<%= @match_count %>筆配對</h2>
    <table id="mytable" class="table table-bordered">
      <thead class="vertical-middle horizontal-center thead-darkgrey">
        <th><%= sort_link(@ransack, :id, "ID", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :male_user_username, "男生姓名", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :female_user_username, "女生姓名", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :twice, "是否為第二次約會", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :status, "約會狀態", default_order: :asc) %></th>
        <th data-sorter="false" class="sorter-false">查看</th>
      </thead>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td><%= match.id %></td>
            <td><%= link_to match.male_user.username, admin_user_path(match.male_user)%></td>
            <td><%= link_to match.female_user.username, admin_user_path(match.female_user)%></td>
            <td><%= match.twice %></td>
            <td><%= @status[match.status] %></td>
            <td>
              <%= link_to '查看', admin_match_path(match.id)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="m-auto admin-pagi">
      <%= paginate @matches %>
    </div>
  </div>
</div>