<div class="container admin-show-box">
  <%= link_to '返回列表', admin_matches_path, :class => 'btn btn-outline-primary' %><br>

  男生姓名: <%= link_to @match.male_user.username, admin_user_path(@match.male_user)%><br>
  女生姓名: <%= link_to @match.female_user.username, admin_user_path(@match.female_user)%><br>
  狀態: <%= @match.status %><br>
  是否為第二次約會<%= @match.twice %><br>
  建立時間: <%= @match.created_at %><br>
  更新時間: <%= @match.updated_at %><br>
  <br>
  [驗證(平均分數: <%= @match.verify.avg_score%>)]<br>
  <% @match.verify.comments.each do |comment| %>
    驗證使用者: <%= comment.user.username%><br>
    給分: <%=comment.score%><br>
    評論: <%=comment.content%><br>
  <% end %>
</div>