
  <%=notification.content%>
  <% if notification.link.present? %>
  <%= link_to "按此查看", notification.link %>
  <% #請注意這邊使用Link並不會通過path helper，例user_path(current_user) 請轉為字串"user/#{current_user.id}" %>
  <% end %>
