<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  基本資料填寫
</h3>

<div class="row">
  <div class="col s10 m9">
    <div class="left-margin">


      <% if @user.errors.present? %>
        <div class="errors">
          <% @user.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <%= form_for @user do |f| %>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">暱稱</p>
            <%= f.text_field :username, class: "" %>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label" style="display: block;">性別</p>
            <div style="padding: 12px 0px;">
            <label>
              
              <%= radio_button :user, :gender, "Male", { checked: true , class: "with-gap" } %>
              <span>男</span>
            </label>
            <label style="left: 80px;">
              
              <%= radio_button :user, :gender, "Female", class: "with-gap" %>
              <span>女</span>
            </label>
            </div>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">生日</p>
            <%= f.text_field :birthday, class: "datepicker" %>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">職業</p>
            <%= f.text_field :occupation, class: "" %>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">年薪</p>
            <%= f.text_field :salary, class: "" %>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">興趣</p>
            <%= f.text_field :interest, class: "" %>
          </div>
        </div>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <%= f.submit "Submit", data: { disable_with: 'Submiting...' }, class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>

  <div class="col s3">
  </div>

</div>

<script>
$().ready(function() {
  $(".edit_user").validate({
    errorElement: "span",
    errorClass: "validate-none",
    success: function(label) {
      },
    highlight: function(element) {
        $(element).css('border-color', '#a94442');
    },
    unhighlight: function(element) {
        $(element).css('border-color', 'green');
    },
    rules: {
      'user[username]': {
        required: true,
      },
      'user[birthday]': {
        required: true,
      },
      'user[occupation]': {
        required: true,
      },
      'user[salary]': {
        required: true,
      },
      'user[interest]': {
        required: true,
      },
    },
    })
});
</script>