<div id="user-show" class="container">
  <div class="user-show-outter">
      <br>
      <h1 class="div-title"><%= @user.username %></h1>

    <table class="table table-bordered ">
      <tbody>
        <tr>
          <td class="td-1">E-mail：</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td class="td-1">性別：</td>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <td class="td-1">生日：</td>
          <td><%= @user.birthday %></td>
        </tr>
        <tr>
          <td class="td-1">職業：</td>
          <td><%= @user.occupation %></td>
        </tr>
        <tr>
          <td class="td-1">年收入：</td>
          <td><%= @user.salary %></td>
        </tr>
        <tr>
          <td class="td-1">興趣：</td>
          <td><%= @user.interest %></td>
        </tr>
      </tbody>
    </table>

          <% if @user == current_user  %>
            <%= link_to "修改基本資料", edit_user_path(@user), class: "btn btn-primary" %>
          <% end %>

  </div>
</div>