<div class="female_asks pull-left">
  <%= female_user.username%> 問： <%= male_content %>
</div>
<div class="clearfix"></div>
<div class="male_answers pull-right">
  <%= male_user.username%> 回答： <%= male_answer %>
</div>
<div class="male_asks pull-right">
  <%= male_user.username%> 問： <%= female_content %>
</div>
<div class="clearfix"></div>
<div class="female_answers pull-left">
  <%= female_user.username%> 回答： <%= female_answer %>
</div>