<% #match 輸入一個約會 %>

<div class="carousel-item">
  <div class="card sticky-action" style="overflow: visible;">
    <div class="card-image waves-effect waves-block waves-light">
      <% image="c-00"+(rand(1..8).to_s)+".jpg" #隨機挑一張照片%>
      <%= image_tag image, class: "activator" %>
      <span class="card-title activator text-darken-4">
      <%= match.male_user.username+"與"+match.female_user.username %>
      </span>
    </div>

    <div class="card-action waves-effect" style="width: 100%; cursor: default;">
      <% if target=="match_path" #用來判斷是要驗證約會or約會歷史 %>
        <%= link_to "進入", match_path(match), style: "width: 100%" %>
      <% elsif target=="comment_path" %>
        <%= link_to "進入", match_comments_path(match), style: "width: 100%" %>
      <%end%>
    </div>

  </div>
</div>