<div class="card">
  <div class="card-body">
  	<% if match.status == "ACTIVE" %>
    <h5 class="card-title"><%= match.male_user.username %>  和  <%= match.female_user.username %><%= description %></h5>
    <h6 class="card-subtitle mb-2 text-muted text-right">結束時間：<%= (match.dating_datetime + 3.hours).to_s(:short) %></h6>
    <%= render partial: "shared/match_links", locals: { match: match, type: match.status } %>
    <% else %>
	    <% if current_user.gender == "Male" %>
		    <h5 class="card-title">我與 <%= match.female_user.username %><%= description %></h5>
		    <h6 class="card-subtitle mb-2 text-muted text-right">結束時間：<%= (match.dating_datetime + 3.hours).to_s(:short) %></h6>
		    <%= render partial: "shared/match_links", locals: { match: match, type: match.status } %>
		  <% else %>
		    <h5 class="card-title">我與 <%= match.male_user.username %><%= description %></h5>
		    <h6 class="card-subtitle mb-2 text-muted text-right">結束時間：<%= (match.dating_datetime + 3.hours).to_s(:short) %></h6>
		    <%= render partial: "shared/match_links", locals: { match: match, type: match.status } %>
		  <% end %>
    <% end%>
  </div>
</div>