<% if type == "ACTIVE" %>
  <% if current_user.join_comment?(match) %>
    <% if current_user.finish_comment?(match) %>
        <p class="mb-ayto text-right">--(<%= match.verify.comments_count %>/5)已完成評論</p>
        <%= link_to "進入", match_path(match), class: "href-in-info btn btn-outline-success btn-sm" %>
    <% else %>
        <p class="mb-ayto text-right text-danger">--(<%= match.verify.comments_count %>/5)未完成評論</p>
        <%= link_to "進入", match_path(match), class: "href-in-info btn btn-outline-success btn-sm" %>
    <% end %>
  <% else %>
      <p class="mb-ayto text-right">--(<%= match.verify.comments_count %>/5)尚未加入</p>
      <%= link_to "進入", match_path(match), class: "href-in-info btn btn-outline-success btn-sm", data: {confirm: "確定要評論#{match.male_user.username}和#{match.female_user.username}的約會？" } %>
  <% end %>
<% elsif type == "EXPIRED" %>
      <p class="mb-ayto text-right">--共<%= match.verify.comments_count %>則評論</p>
      <%= link_to "進入", match_comments_path(match), class: "href-in-info btn btn-outline-dark btn-sm" %>
<% end %>
