<div class="info-body">
  <div class="mb-1 text-muted"><%= (match.dating_datetime + 3.hours).to_s(:short)  %></div>
  <% if match.status == "ACTIVE" %>
  <p class="mb-auto"><%= match.male_user.username %> 和 <%= match.female_user.username %> <%= description %></p>
  <% else %>
  	<% if current_user.gender == "Male" %>
		  <p class="mb-auto">我與 <%= match.female_user.username %> <%= description %></p>
  	<% else %>
  	  <p class="mb-auto">我與 <%= match.male_user.username %> <%= description %></p>
  	<% end %>
  <% end %>
  <%= render partial: "shared/match_links", locals: { match: match, type: match.status } %>
</div>