
<a id="<%= tap_name %>_trigger" onclick="tap_<%= tap_name %>_open()">
  <i class="material-icons tap-target-trigger">help</i>
</a>

<a id="<%= tap_name %>" class="waves-effect waves-light btn btn-floating cyan cursor-default" style="opacity: 0;" ><i class="material-icons" style="font-size: 40px">lightbulb_outline</i></a>

<!-- Tap Target Structure -->
<div class="tap-target cyan <%= tap_name %>" data-target="<%= tap_name %>">
  <div class="tap-target-content white-text">
    <h5><%= title %></h5>
    <p><%= content %></p>
  </div>
</div>

<!-- Open Script(Hold other tap targets) -->

<%= javascript_tag do %>

function tap_<%= tap_name %>_open(){
  $('.tap-target').hide();
  $('.tap-target.<%= tap_name %>').show();
  $('.<%= tap_name %>').tapTarget('open');
}

<% end %>