
<a  onclick="$('.tap-target').tapTarget('open')">
  <i class="material-icons tap-target-trigger">help</i>
</a>

<a id="info-popup" class="waves-effect waves-light btn btn-floating cyan cursor-default" style="opacity: 0;" ><i class="material-icons" style="font-size: 40px">lightbulb_outline</i></a>

<!-- Tap Target Structure -->
<div class="tap-target cyan" data-target="info-popup">
  <div class="tap-target-content white-text">
    <h5><%= title %></h5>
    <p><%= content %></p>
  </div>
</div>
