
<% if current_user.gender == 'Male' %>
  <% content = ans.question.male_content %>
<% else %>
  <% content = ans.question.female_content %>
<% end %>

<tr>
  <td><%= content %></td>
  <td><%= ans.content %></td>
</tr>