
<% if current_user.gender == 'Male' %>
  <% content = question.male_content %>
<% else %>
  <% content = question.female_content %>
<% end %>
<% modal_id = "question_#{question.id}" %>
<% modal_href = "#"+modal_id %>
<tr>
  <td><%= content %></td>
  <td style="width: 80px;"><a class="waves-effect waves-light btn modal-trigger" href="<%= modal_href %>">回答</a></td>
</tr>
<div id="<%= modal_id  %>" class="modal modal-fixed-footer">

  <div class="modal-content">
    <h4>回答問題</h4>
    <p>問題：</p>
    <p><%= content %></p>

    <%= form_for answer, url: answer_pages_path do |f| %>
      <%= f.label :content,"面對這個問題，你會怎麼樣處理，並闡述對於這個問題，你實際的想法。（30至100個字）" %>
      <%= f.text_area :content, name:"content",class: "answer-error", style:"height: 200px;" %>
      <%= f.hidden_field :question_id, name:"question_id" ,  value: question.id %>
      <span class="error-label">未滿30字</span>

  </div>
  <div class="modal-footer">
      <%= f.submit "送出", class: "btn disabled" %>
    <% end %>
      
  </div>

</div>
