<div class="container">
  <h2>
    <%= @title %>
  </h2>

  <%= form_tag pages_path(method: :post) do %>
    <% @empty_responses.each do |response| %>
      <%= fields_for 'responses[]', response do |r| %>
      <div class="form-group row">
        <% q = @questions[@empty_responses.index(response)]%>
        <% if current_user.gender=="Male" %>
          <%= r.label :male_content, q.male_content, class: "col-sm-5 col-form-label" %>
          <%else %>
          <%= r.label :female_content, q.female_content, class: "col-sm-5 col-form-label" %>
        <%end%>
        <div class="col-sm-7">
          <%= r.text_area :content, placeholder:"請輸入一段文字", name: 'responses[' + @empty_responses.index(response).to_s + '][content]', class: "form-control" %>
          <%= r.hidden_field :user_id, value: current_user.id, name: 'responses[' + @empty_responses.index(response).to_s + '][user_id]' %>
          <%= r.hidden_field :question_id, value: q.id, name: 'responses[' + @empty_responses.index(response).to_s + '][question_id]' %>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= submit_tag '完成', class: "btn btn-primary col-sm-2 offset-sm-10" %>
  <% end %>
</div>