
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">個性工廠</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "個性工廠", content: "這邊所填寫的內容反映你的個性與價值觀，是作為配對評分的重要依據，請盡可能地清楚表達你的意見！（特別注意～～封測階段不允許修改答案）"} %>
</span>

<div class="row">
  <div class="col s10 m9">
  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[0] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>點擊展開...( <%= @first_category_questions.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @first_category_questions.length == 0 %>
            <p>你已經回答完所有問題了！請等候系統為您新增題目</p>
          <% end %>
          <% @first_category_questions.each do |question|%>
            <%= render :partial => "question_form", locals: {question: question, answer: @answer} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

  <hr class="center-hr">
  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[1] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">monetization_on</i>點擊展開...( <%= @second_category_questions.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @second_category_questions.length == 0 %>
            <p>你已經回答完所有問題了！請等候系統為您新增題目</p>
          <% end %>
          <% @second_category_questions.each do |question|%>
            <%= render :partial => "question_form", locals: {question: question, answer: @answer} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

  <hr class="center-hr">
  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[2] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">pregnant_woman</i>點擊展開...( <%= @third_category_questions.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @third_category_questions.length == 0 %>
            <p>你已經回答完所有問題了！請等候系統為您新增題目</p>
          <% end %>
          <% @third_category_questions.each do |question|%>
            <%= render :partial => "question_form", locals: {question: question, answer: @answer} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

  <hr class="center-hr">
  <p class="sub-title center">你共完成 <%= @answers_count %> 題...
  <%= link_to '(點此看全部)', me_done_pages_path%>
  </p>


	</div>

	<div class="col s3">
  facebook plug-in
	</div>

</div>

<script>

  //nav
  $("#nav-2").addClass('active');

  //字數驗證
  $( document ).ready(function() {
    $('.modal').on('change click',function(){
      if($(this).hasClass('open')){
        $(".modal.open textarea").on('change keyup paste',function(){
          if($(".modal.open textarea").val().length > 30){
            $(".modal.open textarea").removeClass("answer-error").addClass('answer-ok');
            $(".error-label").hide()
            $(".modal.open .btn").removeClass("disabled")
            console.log("ok");
          }else{
            $(".modal.open textarea").addClass("answer-error").removeClass('answer-ok');
            $(".error-label").show()
            $(".modal.open .btn").addClass("disabled")
            console.log("not ok");
          }
        });
      };
    });
  });

</script>