
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">個性工廠</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)，這邊可以看到系統為你準備的題目，也可以透過連結看你已經完成的價值觀題目"} %>
</span>

<h5 class="div-title" style="display: block;">
	我的記錄
  <%= link_to "回上一頁", :back, {class: "btn"} %>
</h5>

<div class="row">
  <div class="col s10 m9">

  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[0] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>點擊展開...( <%= @me_answers_0.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @me_answers_0.length == 0 %>
            <p>尚未有回答紀錄唷！</p>
          <% end %>
          <% @me_answers_0.each do |ans|%>
            <%= render :partial => "answer_table", locals: {ans: ans} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

  <hr class="center-hr">
  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[1] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">monetization_on</i>點擊展開...( <%= @me_answers_1.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @me_answers_1.length == 0 %>
            <p>尚未有回答紀錄唷！</p>
          <% end %>
          <% @me_answers_1.each do |ans|%>
            <%= render :partial => "answer_table", locals: {ans: ans} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

  <hr class="center-hr">
  <h5 class="div-title"><%= Question::QUESTION_CATEGORY[2] %></h5>
  <ul class="collapsible left-margin question-table-wrapper">
    <li>
      <div class="collapsible-header"><i class="material-icons">favorite_border</i>點擊展開...( <%= @me_answers_2.length %> )</div>
      <div class="collapsible-body">
      <table class="highlight">
        <tbody>
          <% if @me_answers_2.length == 0 %>
            <p>尚未有回答紀錄唷！</p>
          <% end %>
          <% @me_answers_2.each do |ans|%>
            <%= render :partial => "answer_table", locals: {ans: ans} %>
          <% end %>
        </tbody>
      </table>
      </div>
    </li>
  </ul>

	</div>

	<div class="col s3">
  facebook plug-in
	</div>

</div>

<script>
	
  //nav
  $("#nav-2").addClass('active');

</script>