<div class="container container-fluid">
  <div class="page-header text-center">
    <h1>Eaves管理後台</h1>
  </div>
  <div class="container-fluid">
    <%= render partial: "admin/shared/navtab" %>
  </div>
  <br>
  <div class="container-fluid">
    <h2>共<%= @answer_count %>筆回答</h2>
    <table id="mytable" class="table table-bordered">
      <thead class="vertical-middle horizontal-center thead-darkgrey">
        <th><%= sort_link @ransack, :id, "ID", default_order: :asc %></th>
        <th><%= sort_link @ransack, :question_title, "題目標題", default_order: :asc %></th>
        <th><%= sort_link @ransack, :user_username, "回答者", default_order: :asc %></th>
        <th style="width: 550px;"><%= sort_link @ransack, :content, "回答內容", default_order: :asc %></th>
        <th>權重</th>
      </thead>
      <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= answer.id %></td>
            <td><%= link_to answer.question.title, admin_question_path(answer.question)%></td>
            <td><%= answer.user.username %></td>
            <td><%= answer.content %></td>
            <td><%= answer.weight %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="m-auto admin-pagi">
      <%= paginate @answers %>
    </div>
  </div>
</div>