<div class="container">  
    <% if @question.errors.any? %>
      <h4>We have some errors here !</h4>
      <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="page-header text-center">
      <h1>編輯問題</h1>
    </div>
    <%= link_to '返回列表', admin_questions_path, :class => 'btn btn-outline-primary'%>
    <hr>
    <%= form_for [:admin, @question] do |f| %>      
      <div class="form-group">
        <%= f.label :title, "Title" %>
        <%= f.text_field :title, :class => 'form-control' %>  
      </div>
      
      <div class="form-group">
        <%= f.label :male_content, "Male_Content" %>
        <%= f.text_area :male_content, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :female_content, "Female_Content" %>
        <%= f.text_area :female_content, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category, "Category" %>
        <%= f.text_field :category, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :weight, "Weight" %>
        <%= f.number_field :weight, :class => 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>



