<div class="container container-fluid">
  <div class="page-header text-center">
    <h1>Eaves管理後台</h1>
  </div>
  <div class="container-fluid">
    <%= render partial: "admin/shared/navtab" %>
  </div>
  <br>
  <div class="container-fluid">
    <h2>共<%= @question_count %>個問題</h2>
    <table id="mytable" class="table table-bordered">
      <thead class="vertical-middle horizontal-center thead-darkgrey">
        <th><%= sort_link @ransack, :id, "ID", default_order: :asc %></th>
        <th style="width: 120px;"><%= sort_link @ransack, :title, "標題", default_order: :asc %></th>
        <th style="width: 250px;"><%= sort_link @ransack, :male_content, "男生版本", default_order: :asc %></th>
        <th style="width: 250px;"><%= sort_link @ransack, :female_content, "女生版本", default_order: :asc %></th>
        <th><%= sort_link @ransack, :category, "類別", default_order: :asc %></th>
        <th>權重</th>
        <th data-sorter="false" class="sorter-false">編輯</th>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.id %></td>
            <td><%= question.title %></td>
            <td><%= question.male_content %></td>
            <td><%= question.female_content %></td>
            <td><%= question.category %></td>
            <td><%= question.weight %></td>
            <td>
              <%= link_to '編輯', edit_admin_question_path(question.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="m-auto admin-pagi">
      <%= paginate @questions %>
    </div>
  </div>
</div>