<div class="container admin-show-box">
<%= link_to '返回', :back, :class => 'btn btn-outline-primary' %><br>

標題: <%= @question.title %><br>
男生版本: <%= @question.male_content %><br>
女生版本: <%= @question.female_content %><br>
類別: <%= @question.category %><br>
權重: <%= @question.weight %><br>
</div>
