<div class="container">

<h2 style="padding-top: 10px">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control user-sign' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control user-sign' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' %>
    </div>
  <% end -%>

  <div class="actions" style="padding: 20px 0;">
    <%= f.submit "Log in" , class: 'btn btn-primary'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>

<style>
.user-sign {
  display: inline-block;
  width: 400px;}
</style>