<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  登入
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<div class="row">
  <div class="col s10 m9">
    <div class="left-margin">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">Email</p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "輸入註冊信箱", class: '' %>
          </div>
        </div>

        <div class="row input-row">
          <div class="input-field col s12 m10 l8 input-row-field">
            <p class="verify-input-label">Password</p>
            <%= f.password_field :password, autocomplete: "off",placeholder: "輸入註冊密碼", class: '' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="input-field">
            <div>
              <label>
              <%= f.check_box :remember_me,  class: '' %>
              <span>記住我？</span>
              </label>
            </div>
          </div>
        <% end -%>

        <div style="padding: 20px 0;">
          <%= f.submit "Log in" , class: 'btn btn-primary'%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>

  <div class="col s3">
  </div>

</div>

<script>

</script>