
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  熱心民眾
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)你可以幫助其他人完成約會，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>


<div class="row">
  <div class="col s10 m9">
  	<h5 class="div-title">我正在幫忙的</h5>

    <div class="carousel-outter">
      <div class="slick-1">
        <% if @my_help_matches %>
          <% @my_help_matches.each do |match| %>
            <%= render partial: "shared/date_cover", locals: { match: match, target: "match_path" } %>
          <% end %>
        <% else %>
        <p>目前沒有紀錄</p>
        <% end %>
      </div>
    </div>

    <hr class="center-hr">

		<h5 class="div-title">目前需要幫忙的</h5>

    <div class="carousel-outter">
      <div class="slick-2">
        <% if @need_help_matches %>
          <% @need_help_matches.each do |match| %>
            <%= render partial: "shared/date_cover", locals: { match: match, target: "match_path" } %>
          <% end %>
        <% else %>
        <p>目前沒有紀錄</p>
        <% end %>
      </div>
    </div>



    <hr class="center-hr">
		<p class="sub-title center">目前共有<%= @matches_count %>個約會...
			<%= link_to '(點此看全部)', help_all_matches_path%>
  	</p>
	</div>

	<div class="col s3">
  facebook plug-in
	</div>

</div>

<script>

	// carousel setup
  var slickResponsiveSetting = [
      {
        breakpoint: 1650,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 1360,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 1080,
        settings: {
          slidesToShow: 1,
        }
      },
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 780,
        settings: {
          slidesToShow: 1,
        }
      }
    ]

  $('.slick-1').slick({
    dots: true,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 1,
    responsive: slickResponsiveSetting,
  });

  $('.slick-2').slick({
    dots: true,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 1,
    responsive: slickResponsiveSetting,
  });

  //nav
  $("#nav-3").addClass('active');

</script>