<section class="img-box">
  <div class="landing-width">
    <div class="landing-height">
      <div class="landing-position hero">
        <%= image_tag "wallpaper.jpg", class: "landing-fit" %>
      </div>
      <div class="overlay"></div>
        <div class="landing-title-position container-fluid">
          <div class="landing-title row">
            <div class=" offset-sm-3">
              <h2>你今天約會了嗎?</h2>
              <h4 style="padding-top: 20px; padding-left: 20px">
                當前狀態: 
                <%= "未完成基本題目" if @status=="INITIAL" %>
                <%= "無約會信封，快賺取分數!" if @status=="NO_ENVELOPE"%>
                <%= "我準備好了，等待緣分來臨..." if @status=="ALLOW" %>
                <%= "好好的梳妝整理，等等要去約會囉!" if @status=="MATCHED"%>
                <%= "等等，不要打擾，約會中!" if @status=="DATING"%>
              </h4>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<div class="container">
  <br>
  <div class="div-title">
    <h2>
      功能窗格
    </h2>
  </div>
  <div class="info-first-window">
    <div class="card-right-col">
      <button class="btn btn-light right-col-btn-1 get-answers-history" data-user-id="<%= current_user.id %>">
        答案紀錄
      </button>      
      <% if current_user.match_type == "MATCH_FORBID" %>
        <button class="btn btn-secondary right-col-btn get-basic-questions" data-user-id="<%= current_user.id %>">回答問題</button>
      <% else %>
        <button class="btn btn-secondary right-col-btn get-advanced-questions" data-user-id="<%= current_user.id %>">回答問題</button>
      <%end%>
    </div>
  <div class="info-first"> 

<table class="table table-bordered info-table">
  <tbody>
    <tr>
      <th>待答問題數：<%=@unanswered_len%></th>
      <td>曾經約會數：<%=@dated_all_len%></td>
      <td>使用者分數：<%=current_user.points%></td>
      <td rowspan="2" style="vertical-align: middle;">
        <p>交換約會信封</p>
        <%= link_to "點我", exchange_envelope_user_path(current_user), method: :post, class: "btn btn-primary", data: {confirm: "要換取約會信封？"}%>
      </td>
      <td rowspan="2" style="vertical-align: middle;">
        <p>自動交換功能</p>
        <span class="switch">
          <% if current_user.auto_envelope %>
            <input type="checkbox" class="switch" id="auto-exchange-switch" data-user-id = <%= current_user.id %> checked>
          <% else %>
            <input type="checkbox" class="switch" id="auto-exchange-switch" data-user-id = <%= current_user.id %>>
          <% end %>  
            <label for="auto-exchange-switch"></label>
        </span>
      </td>

    </tr>
    <tr>
      <th>已答問題數：<%= @answered_all_len %></th>
      <td>約會成功數：<%= @dated_good_len %></td>
      <td>信封數量：<%= current_user.envelope %></td>      
    </tr>
  </tbody>
</table>

    </div>
  </div>

  <div class="div-title">
    <h2>
      驗證約會
    </h2>
  </div>
  <div class="info-window">
    <div class="card-right-col">
      <!-- Button trigger modal for matches-->
      <% if @unfinished_match %>
        <% if @unfinished_match.status == "ACTIVE" %>
          <%= link_to "未完成", match_path(@unfinished_match) , class: "btn btn-light right-col-btn-1"%>
        <%end %>
      <% end %>
      <button type="button" class="btn btn-secondary right-col-btn" data-toggle="modal" data-target="#modalMatches">
      所有約會
      </button>
    </div>
    <div class="carousel-outter">
      <div class="carousel">
        <% if @pick_matches %>
          <% @pick_matches.each do |match| %>
            <%= render partial: "shared/match", locals: { match: match, description: "正在約會，看看他們適合嗎？" } %>
          <% end %>
        <% else %>
        <div class="info-body">
          <div class="mb-1 text-muted"></div>
          <p class="mb-auto">暫無資料</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="div-title">
    <h2>
      我的約會歷史
    </h2>
  </div>
  <div class="info-window">
    <div class="card-right-col">
      <!-- Button trigger modal for datings-->
      <button type="button" class="btn btn-secondary right-col-btn" data-toggle="modal" data-target="#modalDatings">
      所有歷史
      </button>
    </div>
    <div class="carousel-outter">
      <div class="carousel">
        <% if @recent_datings %>
          <% @recent_datings.each do |match| %>
            <%= render partial: "shared/match", locals: { match: match, description: "的約會結束，看看成果" } %>
          <% end %>
        <% else %>
        <div class="info-body">
          <div class="mb-1 text-muted"></div>
          <p class="mb-auto">暫無資料</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- modal for answered questions -->
<div class="modal fade" id="modalAnswersHistory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content answer-outter">
      <div class="modal-header">
        <h5 class="modal-title" id="answer-history-user"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped">
          <tbody id="answers-history-content">
            
          </tbody>
        </table>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for basic question -->
<div class="modal fade" id="modalBasicQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content answer-outter">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">回答問題</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="<%= postBasicQuestion_path %>">
           <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
           <input type='hidden' name='user_id' id='basic-answered-user'>
           <input type='hidden' name='questions_amount' id='basic-questions-amount'>
           <div id="basic-quesion-form">
             
           </div>
           <button class='pull-right btn btn-success' type='button' id='basic-question-submit'>Submit</button>         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for advanced question -->
<div class="modal fade" id="modalAdvancedQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content answer-outter">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">進階問題</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form action="<%= postAdvancedQuestion_path %>">
           <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
           <input type='hidden' name='user_id' id='advanced-answered-user'>
           <input type='hidden' name='questions_amount' id='advanced-questions-amount'>
           <div id="advanced-quesion-form">
             
           </div>
           <button class='pull-right btn btn-success' type='button' id='advanced-question-submit'>Submit</button>         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for all matches-->
<div class="modal fade" id="modalMatches" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content match-modal-outter"  style="width: 768px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">所有約會</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @matches %>
          <% @matches.each do |match| %>
            <%= render partial: "shared/match_modal", locals: { match: match, description: "正在約會，看看他們適合嗎？" } %>
          <% end %>
        <% else %>
          <p>暫無資料</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for all expired_matches-->
<div class="modal fade" id="modalDatings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content dating-modal-outter">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">約會歷史</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @expired_datings %>
          <% @expired_datings.each do |match| %>
            <%= render partial: "shared/match_modal", locals: { match: match, description: "的約會結束，看看成果" } %>
          <% end %>
        <% else %>
          <p>暫無資料</p>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $( document ).ready(function() {
      $(document).on('click', '.get-answers-history', function(){
          var user_id = $(this).data('user-id');          
          var getAnswersHistoryUrl = '<%= getAnswersHistory_path %>';              

          $.ajax({
            type: 'GET',
            url: getAnswersHistoryUrl,
            data: {
              'user_id': user_id
            },
            dataType: 'json',
            success: function (results) {        
              
                $("#answer-history-user").html(results[2].username + " 的作答紀錄");
                $("#answers-history-content").html("");                                                               
                for(var i=0;i<results[0].length;i++){
                  var answer = results[0][i];                               
                  var question = results[1][i];                               
                  $("#answers-history-content").append(
                     "<tr>"+
                     "<td>問題: "+question+"</td></tr>"+
                     "<tr><td>答案: "+answer.content+"</td></tr>"                     
                  );                    
                }                                 
                                     
                $("#modalAnswersHistory").modal('show');                                        
            }
          });

      });


      $(document).on('click', '.get-basic-questions', function(){
          var user_id = $(this).data('user-id');          
          var getBasicQuestionUrl = '<%= getBasicQuestion_path %>';              

          $.ajax({
            type: 'GET',
            url: getBasicQuestionUrl,
            data: {
              'user_id': user_id
            },
            dataType: 'json',
            success: function (results) {                            
              if(results[0].length == 0){
                alert('沒有基本問題了');
              }else{
                $("#basic-quesion-form").html("");                 
                $("#basic-answered-user").val(results[2]);
                $("#basic-questions-amount").val(results[0].length);
          
                if(results[1] == 'Male'){
                  for(var i=0;i<results[0].length;i++){
                    var result = results[0][i];
                    $("#basic-quesion-form").append(
                       "<div class='form-group row'>"+
                       "<label class='col-md-12 col-form-label'>"+"問題: "+result.male_content+"</label>"+
                       "<textarea class='col-md-12 form-control' placeholder='請輸入你的想法(至少20字)' style='resize: none' id='response_"+i+"' name='response_"+i+"' data-question-id="+result.id+"></textarea>"+"</div>"
                    );                    
                  }                                 
                } else {
                  for(var i=0;i<results[0].length;i++){
                    var result = results[0][i];
                    $("#basic-quesion-form").append(
                       "<div class='form-group row'>"+
                       "<label class='col-md-12 col-form-label'>"+result.female_content+"</label>"+
                       "<textarea class='col-md-12 form-control' placeholder='請輸入你的想法(至少20字)' style='resize: none' id='response_"+i+"' name='response_"+i+"' data-question-id="+result.id+"></textarea>"+"</div>"
                    );                    
                  }   
                }
                     
                $("#modalBasicQuestion").modal('show');                            
              }              
            }
          });

      });

      $(document).on('click', '#basic-question-submit', function() {
        postBasicQuestion();
      });

      function postBasicQuestion(){
        var basic_answered_user_id = $('#basic-answered-user').val();
        var basic_questions_amount = $('#basic-questions-amount').val();
        var answers = [];
        var question_ids = [];                
        var postBasicQuestionUrl = '<%= postBasicQuestion_path %>';  

        for(var i=0; i<basic_questions_amount; i++){                    
            var name = 'response_'+i;
            var quesion_id = $("#"+name).data('question-id');
            answers.push($("#"+name).val());
            question_ids.push(quesion_id);              
        }     

        $.ajax({
            type: 'POST',
            url: postBasicQuestionUrl,            
            data: {
              'user_id': basic_answered_user_id,
              'answers': answers,
              'question_ids': question_ids
            },
            dataType: 'json',
            success: function (results) {         
               
              alert('感謝你的回答！');        
              $("#modalBasicQuestion").modal('hide');                            
              
            }
          });   
        
      }

      $(document).on('click', '.get-advanced-questions', function(){
          var user_id = $(this).data('user-id');          
          var getAdvancedQuestionUrl = '<%= getAdvancedQuestion_path %>';              

          $.ajax({
            type: 'GET',
            url: getAdvancedQuestionUrl,
            data: {
              'user_id': user_id
            },
            dataType: 'json',
            success: function (results) {  

              if(results[0] == 'HAS_QUESTION') {

                $("#advanced-quesion-form").html("");  
                $("#advanced-answered-user").val(results[3]);               
                $("#advanced-questions-amount").val(results[1].length);                

                if(results[2] == 'Male'){
                  for(var i=0;i<results[1].length;i++){
                    var result = results[1][i];
                    $("#advanced-quesion-form").append(
                       "<div class='form-group row'>"+
                       "<label class='col-md-12 col-form-label'>"+result.male_content+"</label>"+
                       "<textarea class='col-md-12 form-control' placeholder='請輸入你的想法(至少20字)' style='resize: none' id='advanced_response_"+i+"' name='response_"+i+"' data-question-id="+result.id+"></textarea>"+"</div>"
                    );                    
                  }                                 
                } else {
                  for(var i=0;i<results[1].length;i++){
                    var result = results[1][i];
                    $("#advanced-quesion-form").append(
                       "<div class='form-group row'>"+
                       "<label class='col-md-12 col-form-label'>"+result.female_content+"</label>"+
                       "<textarea class='col-md-12 form-control' placeholder='請輸入你的想法(至少20字)' style='resize: none' id='advanced_response_"+i+"' name='response_"+i+"' data-question-id="+result.id+"></textarea>"+"</div>"
                    );                    
                  }   
                }
                     

                console.log($("#advanced-questions-amount").val());

                $("#modalAdvancedQuestion").modal('show');   

              } else if (results[0] == 'NO_NEW_QUESTION'){
                alert('沒有新問題了！');
              } else if (results[0] == 'BASIC_QUESTION_FIRST') {
                alert('請先回答基本問題');
              } else {
                alert('系統錯誤！');
              }
                                              
            }
          });

      });

      $(document).on('click', '#advanced-question-submit', function() {
        postAdvancedQuestion();
      });

      function postAdvancedQuestion(){
        var advanced_answered_user_id = $('#advanced-answered-user').val();
        var advanced_questions_amount = $('#advanced-questions-amount').val();
        var answers = [];
        var question_ids = [];                
        var postAdvancedQuestionUrl = '<%= postAdvancedQuestion_path %>';  

        console.log(advanced_questions_amount);
        console.log(advanced_answered_user_id);

        for(var i=0; i<advanced_questions_amount; i++){                    
            var name = 'advanced_response_'+i;
            var quesion_id = $("#"+name).data('question-id');
            answers.push($("#"+name).val());
            question_ids.push(quesion_id);              
        }     

        $.ajax({
            type: 'POST',
            url: postAdvancedQuestionUrl,            
            data: {
              'user_id': advanced_answered_user_id,
              'answers': answers,
              'question_ids': question_ids
            },
            dataType: 'json',
            success: function (results) {         
               
              alert('感謝你的回答！');        
              $("#modalAdvancedQuestion").modal('hide');                            
              
            }
          });   
        
      }

      $(document).on('click', '#auto-exchange-switch:not(.clicked)', function() {
        var checkSwitchIsChecked = $('#auto-exchange-switch').is(':checked');                
        var postAutoEnvelopeUrl = '<%= postAutoEnvelope_path %>';             
        var user_id = $(this).data('user-id');  

        if(checkSwitchIsChecked){
          var message = '確定要打開自動交換信封功能？';          
        } else {
          var message = '確定要關閉自動交換信封功能？';          
        }

        var x = confirm(message);

        
        if(checkSwitchIsChecked){                    
          if(x == true){                                
            var auto_envelope = true;
            $.ajax({
              type: 'POST',
              url: postAutoEnvelopeUrl,            
              data: {
                'user_id': user_id,
                'auto_envelope': auto_envelope                
              },
              dataType: 'json',
              success: function (results) {         
                $('#auto-exchange-switch').prop('checked', true);
              }
            }); 
          } else {
            $('#auto-exchange-switch').prop('checked', false);
          }
        } else {          
          if(x == true){
            var auto_envelope = false;
            $.ajax({
              type: 'POST',
              url: postAutoEnvelopeUrl,            
              data: {
                'user_id': user_id,
                'auto_envelope': auto_envelope                
              },
              dataType: 'json',
              success: function (results) {         
                $('#auto-exchange-switch').prop('checked', false);
              }
            });             
          } else {
            $('#auto-exchange-switch').prop('checked', true);
          }
        }
        
        
      });

    });

</script>