
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  終結單身
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/multi_tap_target", locals: {tap_name:"main_intro", title: "終結單身", content: "這邊會顯示目前配對的狀態，同時可以看到最近的配對歷史。成功的配對會顯示在最下方，當某個對象成功兩次之後，系統將正式交換雙方資訊，你們便能開始聊天。"}%>
</span>



<div class="row">
  <div class="col s10 m9">

    <div class="dating-info">
      <p>Dashboard</p>
    </div>
    <div class="row dashboard">
      <div class="col s8 l4 dash-element dash-element-circle">
        <div class="circle-wrap">
          <div id="point-circle-0" class="circle"></div>
          <p class="after-circle">當前配對狀態
            <%= render partial: "shared/multi_tap_target", locals: {tap_name:'circle_info_1', title: "配對狀態", content: "當您所填答的題目數量夠時，系統將開始為您安排配對。回答題目越多，也將有助於加速系統配對的效率。"} %>
          </p>
        </div>
      </div>
      <div class="col s8 l4 dash-element dash-element-circle">
        <div class="circle-wrap">
          <div id="point-circle-1" class="circle"></div>
          <p class="after-circle">我的配對經驗
          </p>
        </div>
      </div>
      <div class="col s8 l4 dash-element dash-element-circle">
        <div class="circle-wrap">
          <div id="point-circle-2" class="circle"></div>
          <p class="after-circle">剩餘配對額度
            <%= render partial: "shared/multi_tap_target", locals: {tap_name:'circle_info_3', title: "配對額度", content: "透過幫助他人配對的驗證（熱心民眾）及回答更多題目，可以增加配對額度。當配對額度不足1次時，系統將無法幫您產生新的配對。"} %>
          </p>
        </div>
      </div>
    </div>

  	<h5 class="div-title">最近的約會</h5>

    <div class="carousel-outter">
      <div class="slick-1">
        <% if @resent_matches %>
          <% @resent_matches.each do |match| %>
            <%= render partial: "shared/date_cover", locals: { match: match, target: "comment_path" } %>
          <% end %>
        <% else %>
        <p>目前沒有紀錄</p>
        <% end %>
      </div>
    </div>

    <hr class="center-hr">

		<h5 class="div-title">成功約會紀錄</h5>

    <div class="carousel-outter">
      <div class="slick-2">
        <% if @success_matches %>
          <% @success_matches.each do |match| %>
            <%= render partial: "shared/date_cover", locals: { match: match, target: "comment_path" } %>
          <% end %>
        <% else %>
        <p>目前沒有紀錄</p>
        <% end %>
      </div>
    </div>

    <hr class="center-hr">
		<p class="sub-title center">你共有<%= @my_match_numbers %>個約會...
			<%= link_to '(點此看全部)', my_all_matches_path%>
  	</p>
	</div>

	<div class="col s3">
  facebook plug-in

	</div>

</div>

<%= javascript_tag do %>
  var circle0Text = " ";
  var circle0Num = 33;
  <% if current_user.answers.length < 3 %>
    circle0Text = "<%= "作答數不足"%>";
  <% else %>
    <% if current_user.match_type == "MATCH_ALLOW" %>
      circle0Text = "<%= "系統配對中"%>";
      circle0Num = 66;
    <% else %>
      circle0Text = "<%= "配對驗證中" %>";
      circle0Num = 90;
    <% end %>
  <% end %>
  var circle1Text = "<%= "#{@my_match_numbers}次" %>";
  var circle1Num = <%= @my_match_numbers*10 %>;
  var circle2Text = "<%= "#{current_user.points/100}次" %>";
  var circle2Num = <%= current_user.points/10 %>;
<% end %>

<script>

  // carousel setup
  var slickResponsiveSetting = [
      {
        breakpoint: 1650,
        settings: {
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 1360,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 1080,
        settings: {
          slidesToShow: 1,
        }
      },
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 2,
        }
      },
      {
        breakpoint: 780,
        settings: {
          slidesToShow: 1,
        }
      }
    ]

  $('.slick-1').slick({
    dots: true,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 1,
    responsive: slickResponsiveSetting,
  });

  $('.slick-2').slick({
    dots: true,
    speed: 300,
    slidesToShow: 4,
    slidesToScroll: 1,
    responsive: slickResponsiveSetting,
  });

  //nav
  $("#nav-1").addClass('active');

  //circle
  $("#point-circle-0").circliful({
      animationStep: 5,
      foregroundBorderWidth: 5,
      backgroundBorderWidth: 15,
      percent: circle0Num,
      showPercent: 1,
      foregroundColor: "#CD5360",
      replacePercentageByText: circle0Text,
  });
  $("#point-circle-1").circliful({
      animationStep: 5,
      foregroundBorderWidth: 5,
      backgroundBorderWidth: 15,
      percent: circle1Num,
      showPercent: 1,
      foregroundColor: "#008F95",
      replacePercentageByText: circle1Text,
  });
  $("#point-circle-2").circliful({
      animationStep: 5,
      foregroundBorderWidth: 5,
      backgroundBorderWidth: 15,
      percent: circle2Num,
      showPercent: 1,
      foregroundColor: "#94618E",
      replacePercentageByText: circle2Text,
  });


</script>