
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  終結單身
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)你可以幫助其他人完成約會，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<h5 class="div-title" style="display: block;">
  <%= link_to "回上一頁", :back, {class: "btn"} %>
</h5>

<div class="row">
  <div class="col s10 m9">

		<% @matches.each do |match| %>
      <%= render partial: "shared/date_cover", locals: { match: match, target: "comment_path" } %>
    <% end %>

	</div>

	<div class="col s3">
  facebook plug-in
	</div>

</div>

<script>
  $(document).ready(function() {
    $(".carousel-item").css("float","left")
    $(".carousel-item").css("margin-left","20px")
  });

  //nav
  $("#nav-1").addClass('active');
</script>