
<div class="pic-panel">
	<%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  終結單身
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<h5 class="div-title" style="display: block;">
  <%= link_to "回上一頁", :back, {class: "btn"} %>
</h5>

<div class="row">
  <div class="col s10 m9">

		
		<% @qna_groups.each do |qna| %>
			<div class="girl-box margin-align-center">
				女生問 <%= qna[:male_content] %>
			</div>
			<div class="boy-box margin-align-center" style="margin-bottom: 8px;">
				男生答 <%= qna[:male_answer] %>
			</div>
		<% end %>
  	<hr class="center-hr">
		<% @qna_groups.each do |qna| %>
			<div class="boy-box margin-align-center">
				男生問 <%= qna[:female_content] %>
			</div>
			<div class="girl-box margin-align-center" style="margin-bottom: 8px;">
				女生答 <%= qna[:female_answer] %>
			</div>
		<% end %>

<hr class="center-hr">

		<div class="left-margin" style="padding-bottom:12px;">
		<h5>給予評論：</h5>
		<%= form_for(@comment, url: verify_match_path(@match), method: :post) do |f| %>

		<div class="input-field">
			<p class="verify-input-label">配對分數</p>
			<%= f.number_field :score %>
			<div class="slider-outter">
				<div id="slider"></div>
			</div>
		</div>

		<div class="input-field">
			<p class="verify-input-label">配對意見</p>
		  <%= f.text_area :content, placeholder: "中肯的建議，20字以上", class: "", style: "height: 60px; border: 0.5px solid rgba(0, 0, 0, 0.2); margin-top: 8px;"%>
		</div>
		<div class="input-feild">
			<%= link_to "取消", @back_url, class: "btn" %>
		  <%= f.submit "送出", class: "btn" %>
		</div>
		<% end %>
		</div>

		<div class="left-margin">
		<% if @other_comments %>
			<h5>其他人怎麼說：</h5>
			<table class="striped">
				<thead>
					<th>#</th>
					<th>Comments</th>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @other_comments.each do |comment| %>
					<tr>
						<td><%= num %></td>
						<td>
							<%= comment.user.username %>說：<%= comment.content %>
							<% num = num + 1 %>
						</td>
					</tr>
	  			<% end %>
				</tbody>
			</table>
		<%end%>
		</div>

	</div>

	<div class="col s3">
  facebook plug-in

	</div>

</div>

<script>

  //nav
  $("#nav-1").addClass('active');

	$( document ).ready(function() {

	  //slider
		var slider = document.getElementById('slider');

		noUiSlider.create(slider, {
			start: 60,
			behaviour: 'snap',
			connect: [true, false],
			tooltips: [ true ],
			step: 1,
			range: {
				'min':  0,
				'max':  100
			},
			format: wNumb({
        decimals: 0, // default is 2
    	})
		});

		slider.noUiSlider.set($("#comment_score").val());

		slider.noUiSlider.on("change", function(){
			$("#comment_score").val(slider.noUiSlider.get());
		});

	});

</script>