<div class="container" id="verify" >
	<div style="height: 1px;"> </div>
  <h2 class="text-center div-title">  <%= @male_user.username %> 和 <%= @female_user.username %> 的約會內容</h2>
	<div class="row">
		<div class="col-sm-4 bubble-box">
			<% @qna_groups.each do |qna| %>
				<div>
					<p style="margin-top: 20px; margin-bottom: 4px;">Q: <%= qna[:female_content] %></p>
				</div>
				<div class="bubble-left" >
					<p><%= qna[:female_answer] %></p>
				</div>
  		<% end %>
		</div>
		<div class="col-sm-4">
			<div class="couple-img-width">
				<div class="couple-img-height">
					<div class="couple-img-position">
						<%= image_tag "couple.png", class: "couple-img-fit" %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 bubble-box">
			<% @qna_groups.each do |qna| %>
				<div>
					<p style="margin-top: 20px; margin-bottom: 4px;">Q: <%= qna[:male_content] %></p>
				</div>
				<div class="bubble-right" >
					<p><%= qna[:male_answer] %></p>
				</div>
  		<% end %>			
		</div>
	</div>
	<div style="padding: 8px 0 ;"><hr class="stylish"></div>
	<h5>給予評論：</h5>
	<div class="">
		<%= form_for(@comment, url: verify_match_path(@match), method: :post, :html => {:class => "verify-form"}) do |f| %>
		  <div class="form-group">
		    <%= f.number_field :score, placeholder: "速配指數？（0-100）", class: "form-control verify-form-input verify-number" %>
		  </div>
		  <div class="form-group">
		    <%= f.text_area :content, placeholder: "中肯的建議，20字以上", class: "form-control verify-form-input verify-text" %>
		  </div>
		  <div class="form-group">
		    <%= link_to "取消", @back_url, class: "btn btn-secondary" %>
		    <%= f.submit "送出", class: "btn btn-primary" %>
		  </div>
		<% end %>
	</div>

	<% if @other_comments %>
		<div style="padding: 8px 0 ;"><hr class="stylish"></div>
		<h5>其他人怎麼說：</h5>
		<div class="row">
			<table class="table">
				<thead>
					<th>#</th>
					<th>Comments</th>
				</thead>
				<tbody>
					<% num = 1 %>
					<% @other_comments.each do |comment| %>
					<tr>
						<td><%= num %></td>
						<td>
							<%= comment.user.username %>說：<%= comment.content %>
							<% num = num + 1 %>
						</td>
					</tr>
	  			<% end %>
				</tbody>
			</table>
		</div>
	<% else %>
		<div class="table-outter">
			<%= image_tag "table.jpg", class: "table-fit" %>
		</div>
	<%end%>



</div>

<script>
$().ready(function() {
  $(".verify-form").validate({
    errorElement: "span",
    success: function(label) {
        label.text(" ").addClass("success");
      },
    highlight: function(element) {
        $(element).css('border-color', '#a94442');
        $(element).next().removeClass("success");
    },
    unhighlight: function(element) {
        $(element).css('border-color', 'green');
    },
    rules: {
      'comment[score]': {
        required: true,
        range:[0,100],
      },
      'comment[content]': {
        required: true,
        minlength: 20,
      },
    },
    })
});
</script>