<%= cache(['notifications', Notifications::VERSION, notification]) do %>
  <div id="notification-<%= notification.id %>"
       data-id="<%= notification.id %>"
       class="notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
      <% t=notification.created_at %>
      <%= "[#{t.strftime("%H:%M")}]" %>
      <%= render partial: "/notifications/#{notification.notify_type}", locals: { notification: notification } %>
  </div>
<% end %>


<%# if notification.actor_profile_url && notification.actor_avatar_url %>
  <%# =link_to image_tag(notification.actor_avatar_url), notification.actor_profile_url, title: notification.actor_name, class: 'user-avatar' %>
<%# end %>