
<h3 class="div-title">通知</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "通知", content: "這邊會顯示你所有的通知，包含約會的結果、回答問題所賺取的分數等等。按Clean All按鈕可以清除所有通知。"} %>
</span>

<div class="row">
  <div class="col s10 m9">

    <div class="list left-margin">
      <% if @notifications.blank? %>
        <div class="no-records"><%= t('notifications.no_records') %></div>
      <% else %>
        <table class="striped">
          <tbody>
            <% @notification_groups.each do |date, notifications| %>
              <tr><td><%= date %></td></tr>
              <tr><td><%= render notifications %></td></tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @notifications %>
      <% end %>

      <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn', method: 'delete' %>
    </div>
    
  </div>

  <div class="col s3">
  facebook plug-in
  </div>

</div>

<script>

  //nav

</script>

