
<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  個資同意內容
</h3>

<div class="row">
  <div class="col s10 m9">

    <div style="padding: 0 40px;">

<p style="text-indent: 20px ;">

當您申請加入EAVES（以下簡稱本網站）會員時，即表示您已閱讀、瞭解並同意接受會員服務條款(以下簡稱本條款)之所有內容。
本網站有權於不定期間修改變更本條款之內容，建議您隨時注意本條款之修改或變更。若您於任何修改或變更後繼續使用本網站，則代表您已閱讀、瞭解並同意接受本條款之修改或變更。
凡申請即可成為本網站會員。
  <ul>
    <li>一、會員註冊義務</li>
    <li>使用EAVES網站，您將同意下述要求事項：</li> 
    <li>(一)於登錄個人資料時提供您本人正確、最新及完整的資訊。</li>
    <li>(二)若您的個人資料有任何異動，請隨時更新會員個人資料，使其保持正確、最新及完整。</li>
    <li>(三)請您保護個人的帳號及密碼的機密與安全，若有發現盜用或其他網路安全事宜時，請立即與EAVES聯絡。</li>
    <li>(四)每次連線完畢，請記得登出您的帳號。</li>
    <li>(五)絕不以任何非法目的或以任何非法方式使用本網站，並遵守中華民國相關法規及一切使用網際網路之國際慣例。</li>
    <li>(六)本網站禁止刊登以下資訊，包括：</li>
    <li style="text-indent: 20px;">1.色情內容的資訊。</li>
    <li style="text-indent: 20px;">2.侵害他人著作權、商標、專利等權利之侵權資訊，如未經授權之他人著作等。</li>
    <li style="text-indent: 20px;">3.其他與本網站服務無關之資訊。</li>
    <li>以上如有違反時，本網站有權視情況取消（或暫停）您的使用權並採用若干必要之措施。</li>
    <li>二、會員註冊權利</li>
    <li>(一)有關您在本網站所註冊之個人資料皆在中華民國個人資料保護法與相關法令之規範下蒐集、處理及利用您的個人資料，您的資料將受到本網站【隱私權政策】之保護與規範。</li>
    <li>(二)因執行以下服務所需將蒐集您的個人資料：姓名、E-mail（包括但不限於年齡、電話號碼、聯絡地址）。</li>
    <li style="text-indent: 20px;">1.會員管理</li>
    <li style="text-indent: 20px;">2.統計調查與分析</li>
    <li style="text-indent: 20px;">3.電子報發送</li>
    <li style="text-indent: 20px;">4.行銷活動辦理</li>
    <li>(三)當您的個人資料使用方式與當初本網站蒐集的目的不同時，我們會在使用前先徵求您的同意。 如有任何問題，請立即與EAVES聯絡。</li>
    <li>您同意成為本網站會員，本網站得記錄、保存及利用您在本網站所留存或產生的資料及紀錄，同時在不揭露個人資料的情形下，得公開或使用統計資料。</li>
    <li>(五)關於您的會員註冊及其他特定資料，將依據本網站條款受到保護與規範。您可以選擇修改瀏覽器對Cookies的接受程度，如果選擇拒絕所有的cookies，可能無法使用部分個人化服務，或是參與部分的活動。本網站會基於提供更好、更個人化的服務，以及方便您參與個人化的互動活動原則下，在您瀏覽器中寫入並讀取Cookies。</li>
    <li>三、本網站除了提供本身網站資料外，亦提供相關之連結服務機制，其連結網頁內容與該網站經營有關，其內容與立場並非與本網站有任何關係，亦不屬於本網站負責之範圍。</li>
    <li>四、本網站對於您使用本網站或經本網站連結至其他網站所取得之資訊，不保證為完全正確。本網站對於所提供之資訊內容有隨時修改或刪除 之權利。</li>
    <li>五、本網站可能會發生不定期之連線中斷或故障等現象而造成您使用上的不便，為此本網站對於您因無法使用本網站服務而造成的損害，不負任何賠償責任。</li>
    <li>六、本網站所使用之內容，包括但不限於文字、圖片、檔案、資訊、網頁設計，均由本網站或各著作財產權人依法擁有其智慧財產權，任何人不得擅自轉載、修改、重製、散布、發行、公開播送、公開發表。欲引用或轉載前述網站內容，必須依法取得本網站或各著作財產權人的事前書面同意。</li>
    <li>七、準據法與管轄法院：會員服務條款之解釋與適用，以及與會員服務條款有關的爭議，均應依照中華民國法律予以處理，並以臺灣臺北地方法院為第一審管轄法院。</li>
  </ul>
</p>
          
    </div>
  </div>

  <div class="col s3">
  facebook plug-in
  </div>

</div>

<script>

</script>