<section class="img-box">
  <div class="landing-width">
    <div class="landing-height">
      <div class="landing-position hero">
        <%= image_tag "wallpaper.jpg", class: "landing-fit" %>
      </div>
      <div class="overlay"></div>
        <div class="landing-title-position container-fluid">
          <div class="landing-title text-center">          
              <h1>關於Eaves</h1>                          
          </div>
        </div>
    </div>
  </div>
</section>
<div class="container" style="background-color: transparent;">
  <div class="text-center title-padding">
    <h2>What's Eaves</h2>
  </div>
  <p>其實，我們常常忽略了自己的情感需求．我們承認表面條件很重要，但是如果情侶之間無法共享價值觀、共享生活點滴，使得交往像是下班之後另外一項工作，為了維繫感情，逼自己講不想講的電話、逛不想逛的街、吃自己不喜歡的食物。<br></p>
  <p style="font-weight: bold;font-style: italic;">現今交友軟體多采多姿，其中爭奇鬥艷的交友資料，使用者就像身處這數十萬人的選秀大會。<br></p>
  <p>我們希望能突破、能有個方法，與異性有趣地共享生活點滴、分享你們的價值觀、分享你們待人處事的想法，因為我們認為這才是伴侶之間和諧的關鍵因素。此外，更重要的是，我們希望透過社群的力量，驗證你與約會對象匹配的成果。<br></p>
  <p style="font-weight: bold;font-style: italic;">Eaves使一切過程更加簡單。<br></p>
  <hr>
  <p>
  我們認為情侶交往甚至到結婚，是生活形式的一種體現，長大之後，我們不再需要白馬王子或白雪公主，我們需要的是好隊友。Eaves目標將能幫助用戶找到價值觀、生活步調相近的另一半。<br><br>
  藉由創造新的媒合模式，使用者不需要主動對異性發出邀請、不需要獻殷情、不需要用健身照或是水餃墊偽裝自己。同時，所有配對的過程，將引用區塊鏈運作概念，結合社群力量處理質化問題，媒合生活步調、價值觀相近的用戶。<br>
  <div style=" width: 100%; text-align: center;">
  <%= image_tag "process.jpg", class: "process-img" %>
  </div>
  <br>
  Eaves的模式希望能吸引用戶操作，你不用費心的經營個人頁面、挑選對象、挑選話題、表示好感，你只需要放你的角色出門約會，讓網路的其他人來幫你看看適不適合。你需要做的，除了需要回答一些問題之外，就是幫助正在約會的組合，幫他們打個分數、為他們的約會寫一段評論。之後，你的角色也會受別人的幫助，取得一些記錄，來了解你今天出去約會順不順利。<br></p>
  <p style="font-weight: bold;font-style: italic;">如果約會沒有好結果，你不用挫折、不用沮喪、不會浪費時間，因為很快你的角色又帶著你的個性與價值觀，出門約會了。<br></p>
  <p>而為什麼取名為Eaves呢？<br><br>
  我們認為與伴侶相處概念是共享一個屋簷，試著當同一個屋簷下的夥伴。延伸之意是，我們需要的是一起生活的好夥伴、好隊友，而不是為自己帶來困擾、麻煩的另一半，希望這個名稱帶給您一種溫馨的感覺。</p>
</div>
