<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  關於/說明
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "(這邊打一些說明)你可以幫助其他人完成約會，這邊會存放你已經完成的約會紀錄，我們會在裡面記錄一些內容"}%>
</span>

<div class="row">
  <div class="col s10 m9" style="padding-left: 10px;">
  
    <%= image_tag "workflow.jpg", class: "responsive-img" %>

  </div>

  <div class="col s3">
  facebook plug-in
  </div>

</div>

<script>
  //nav
  $("#nav-4").addClass('active');
</script>