
<div class="pic-panel">
  <%= image_tag "wallpaper.jpg", class: "responsive-img" %>
</div>

<h3 class="div-title">
  開發團隊
</h3>
<span style="padding-left: 20px; top: -6px;">
  <%= render partial: "shared/tap_target", locals: { title: "說明", content: "我們是一群喜歡學程式、寫程式的人，這個專案是來自於Alpha Camp線上程式實戰營的其中一組學員，希望能藉由這個專案，學習到更多經驗、知識、及來自各方的指教，謝謝大家！"}%>
</span>

<div class="row">
  <div class="col s10 m9">

  <div class="team-note margin-align-center">
    <div class="card-panel orange lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s12">
          <h4>Who We Are</h4>
          <span class="black-text">
            <p>
              我們是一群喜歡學程式、寫程式的人，這個專案是來自於Alpha Camp線上程式實戰營的其中一組學員，希望能藉由這個專案，學習到更多經驗、知識、及來自各方的指教，謝謝大家！
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <hr class="center-hr">

  <div class="team-card-outter margin-align-center">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <%= image_tag "joe.jpg", class: "circle responsive-img" %>
        </div>
        <div class="col s8">
          <h4>Joe</h4>
          <span class="black-text">
            <ul>
              <li>主要負責產品企劃、前端規劃、專案管理等。</li>
              <li>喜歡奶油加很多的食物、支持呱吉吃大便當。</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <p>聯絡我 <a href="mailto:ciao.plus@gmai.com">ciao.plus@gmai.com</a></li> </p>
  </div>

  <hr class="center-hr">

  <div class="team-card-outter margin-align-center">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <%= image_tag "wells.jpg", class: "circle responsive-img" %>
        </div>
        <div class="col s8">
          <h4>Wells</h4>
          <span class="black-text">
            <ul>
              <li>主要負責資料結構、測試、後端部署等。</li>
              <li>兩個小孩的超級奶爸。</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <p>聯絡我 <a href="mailto:chawkeye@gmail.com">chawkeye@gmail.com</a> </p>
  </div>

  <hr class="center-hr">

  <div class="team-card-outter margin-align-center">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s4">
          <%= image_tag "adam.jpg", class: "circle responsive-img" %>
        </div>
        <div class="col s8">
          <h4>Adam</h4>
          <span class="black-text">
            <ul>
              <li>主要負責AJAX前端、配對邏輯、後端部署等。</li>
              <li>喜歡旅遊、玩音樂的宅宅工程師！</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    <p>聯絡我 <a href="mailto:kuso12610@gmail.com">kuso12610@gmail.com</a> </p>
  </div>

  </div>

  <div class="col s3">
  facebook plug-in
  </div>

</div>

<script>

</script>