/*字型*/

@font-face {
    font-family: 'logo-font';
    src: url('critical.regular.ttf');
}

@font-face {
    font-family: 'noto';
    src: url('NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'sculptural';
    src: url('Intruder.ttf');
}

@media only screen and (min-width: 601px){
  nav{
    height: 56px;
    line-height: 56px;
  }
}

/* */
*{
  font-family: 'noto';
  position: relative;
}

/*layout: navbar*/

#nav-bar {
	z-index: 100;
	position: fixed;
	top: 0;
  background-color: rgba(255, 109, 0, 0.7);
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

#nav-bar .brand-logo a{
  display: inline-block;
  width: 39px;
  height: 56px;
}

#sidenav-trigger-id{
  position: fixed;
  top: 8px;
  left: 12px;
  z-index: 200;
  height: 45px;
  width: 45px;
}

.btn-floating.btn-large i {
  line-height: 45px; /*id的權重小於這邊*/
}

.sidenav{
  background-color: #f2f2f2;
	top:56px;
}

ul.sidenav.sidenav-fixed{
  border-right:1px solid rgba(0,0,0,0.14);
}

.sidenav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 4px 0 0;
    width: 24px;
    color: rgba(0,0,0,0.54);
}

.sidenav li.active{
  background-color: rgba(0, 0, 0, 0.12);
}

ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    margin-top: 20px;
}

.logo-wrap {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.logo-wrap p {
  font-family: 'logo-font';
  font-size: 72px;
  line-height: 80px;
  background: -webkit-linear-gradient(left,#4BC9DD,#926ded,#FA7264 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .logo-background {
  position: absolute;
  top:0;
  left: 0;
 }

 .logo-background img{
  width: 299px;
  height: 224px;
 }

 .logo-background-shadow{
  position: absolute;
  top:0;
  left: 0;
  width: 299px;
  height: 224px;
  background-color: rgba(255,255,255,0.2);
 }

/*layout: main*/

main {
  padding-left: 300px;
}

@media only screen and (max-width: 992px){
	main{
	  padding-left: 0;
	}
}

@media only screen and (min-width: 601px){	
  main>.container{
    width: 90%;
  }
}

.pic-panel{
	max-height: 225px;
	overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.pic-panel .responsive-img{
  width: 100%;
  height: auto;
}

.div-title{
  padding-left: 20px;
  display: inline-block;
}

/*layout: footer*/

footer{
  margin-top: 200px;
}

.page-footer{
  background-color: rgb(128,128,128);
}

footer .container .row{
  margin-bottom: 0;
}

/*dating card*/

.carousel-outter{
  padding: 0 20px;
}

.card .card-title {
  font-size: 18px;
  font-weight: 150;
}

.carousel-item .card{
  display: inline-block;
  height: 200px;
  width: 200px;
}

.carousel-item .card .card-image img{
  width: 200px;
  height: 146px;
  object-fit: cover;
}

.carousel-item .card .card-image .card-title {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
}

.carousel-item .card .card-image .card-title {
    padding: 16px;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* my dating page */

.dating-info {
  width: 100px;
  background-color: #DEB8A0;
  box-shadow: 1px 1px 0 1px rgba(162, 123, 98, 0.7);
  margin: 0 40px;
  padding: 10px 10px;
}

.dating-info p{
  margin: 0 0;
}

.dashboard{
  max-width: 730px;
  background: #F1FBFD;
  box-shadow: 1px 1px 0 1px rgba(162, 123, 98, 0.7);
  margin-left: 40px !important;
  margin-right: 40px !important;
}

@media only screen and (max-width: 1230px){  
  .row .col.dash-element-text{
    padding-top: 12px;
  }
}

.row .col.dash-element-circle{
  max-width: 240px;
  margin-top: -20px;
}

.dash-element{
  text-align: center;
}

.dash-element .after-circle{
  margin-top: -20px;
}

.dash-element-2{
  float:left; 
  background-color: grey; 
  height: 300px; 
  width: 200px; 
  text-align: center;
}

/* personal questions */

.question-table-wrapper .collapsible-header{
  background-color: #fcfcfc;
}

.question-table-wrapper{
  max-width: 880px;
  background-color: #fcfcfc;
}

.answer-error{
  border: 0.5px solid #C60000;
}

.answer-ok{
  border: 0.5px solid green;
}

.error-label {
  font: 10px;
  color: #C60000;
  margin: 15px 0;
  margin-bottom: 0;
}

/* result 結果頁面 */

.result-img{
  width: 100%;
  max-width: 500px;
}

/* 驗證頁面 match-show */
/* http://www.cssarrowplease.com/ */

.girl-box {
  position: relative;
  background: #FDD0E0;
  border: 4px solid #F8A5C2;
  padding: 20px 20px;
  max-width: 600px;
  font-size: 17px;
}
.girl-box:after, .girl-box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.girl-box:after {
  border-color: rgba(102, 213, 191, 0);
  border-left-color: #FDD0E0;
  border-width: 20px;
  margin-top: -20px;
}
.girl-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #F8A5C2;
  border-width: 26px;
  margin-top: -26px;
}

.boy-box {
  position: relative;
  background: #C1E4FF;
  border: 4px solid #74BFF8 ;
  padding: 20px 20px;
  max-width: 600px;
  font-size: 17px;
}
.boy-box:after, .boy-box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.boy-box:after {
  border-color: rgba(102, 213, 191, 0);
  border-right-color: #C1E4FF;
  border-width: 20px;
  margin-top: -20px;
}
.boy-box:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #74BFF8 ;
  border-width: 26px;
  margin-top: -26px;
}

.slider-outter {
    padding: 12px 0;
}

.verify-input-label {
  font: 400 12px;
  color: #888;
  margin: 15px 0;
  margin-bottom: 0;
}

#comment_score {
  display: none;
}

/* 開發團隊 */

.team-card-outter{
  max-width: 600px;
}

.team-note{
  max-width: 600px;
}

.team-note .card-panel{
  padding-top: 12px;
  padding-bottom: 12px;
}

/* devise: log in、registration */

.input-row {
  margin-bottom: 12px;
}

.input-row-field {
  margin-top: 0;
  margin-bottom: 0;
}

#agree-error{
  color: #C60000;
}

#emailcheck{
  cursor: default;
}

#emailcheck-error{
  cursor: default;
  padding-left: 0;
}

#emailcheck-error::before{
  border: none;
}

.error{
  color: #C60000;
}

/* 網頁提示視窗 tap-target*/

.tap-target-wrapper{
  top: initial !important;
  left: initial !important;
  position: fixed !important;
  width: 500px !important;
  height: 500px !important;
  right: -168px !important; 
  bottom: -168px !important; 
}

.tap-target-content{
  top: 100px !important;
  left: 0px !important; 
  width: 380px !important; 
  height: 360px !important; 
  padding-left: 30px !important;
  padding-right: 60px !important;
  vertical-align: top !important;
  text-align: left !important;
}

.tap-target-content h5{
  padding-left: 20px;
}

.tap-target-wave{
  top: 40px !important;
  left: 170px !important;
}

.tap-target-wave::before, .tap-target-wave::after{
  top: 0;
}

.tap-target-btn{
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  position: absolute;
}

.tap-target .tap-target-wave .btn-floating.btn-large i{
  line-height: 56px;
}

.tap-target-trigger{
  font-size: 30px; 
  color: grey; 
  cursor: pointer;
}

.tap-target-trigger:hover { 
  color: #ff8a65;
}

/* 客製 tap-target icon */
/* 藏在 javascript產生之後 */

#circle_info_1_trigger i,#circle_info_2_trigger i,#circle_info_3_trigger i{
  font-size: 24px; 
}

#circle_info_1,#circle_info_2,#circle_info_3{
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -100;
}

/* 後台 admin*/

.admin-pagi nav{
  margin-top: 40px;
  background-color: #F4F4F4;
}
.admin-pagi .pagination li{
  height: 100%;
}
.admin-show-box{
  padding-top: 80px;
  line-height: 30px;
}
.admin-show-box a{
  margin: 20px 0;
}
.admin-nav .nav-item{
  display: inline-block;
  margin-right:20px;
}
.admin-nav .nav-item .active{
  background-color: grey;
  border: 2px solid #CD5360;
}

/* utilities */

.left-margin{
  margin-left: 20px !important;
}

.margin-align-center{
  margin: 0 auto;
}

.center-hr{
  height:1px; 
  border:none; 
  background-color: grey; 
  width:60%; 
  text-align:center;
  margin-top: 20px;
  margin-bottom: 40px;  
}

.cursor-default{
  cursor:default;
}

.center{
  text-align: center !important;
}

/*  */