<div class="container-fluid container">
  <div class="page-header text-center">
    <h1>Eaves管理後台</h1>
  </div>
  <div class="container-fluid">
    <%= render partial: "admin/shared/navtab" %>
  </div>
  <br>
  <div class="container-fluid">
    <h2>共<%= @user_count %>位Users</h2>
    <table id="mytable" class="tablesorter table table-bordered">
      <thead class="vertical-middle horizontal-center thead-darkgrey">
        <th><%= sort_link(@ransack, :id, "ID", default_order: :asc) %></th>
        <th>姓名</th>
        <th>帳號</th>
        <th><%= sort_link(@ransack, :gender, "性別", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :match_type, "狀態", default_order: :asc) %></th>
        <th data-sorter="false" class="sorter-false">查看</th>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.gender %></td>
            <td><%= user.match_type%></td>
            <td>
              <%= link_to '查看', admin_user_path(user.id)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="m-auto admin-pagi">
      <%= paginate @users %>
    </div>
  </div>
</div>