
<div class="container admin-show-box">

<%= link_to '返回', :back, :class => 'btn btn-outline-primary' %><br>

姓名: <%= @user.username %><br>
帳號: <%= @user.email %><br>
性別: <%= @user.gender %><br>
生日: <%= @user.birthday %><br>
職業: <%= @user.occupation %><br>
收入: <%= @user.salary %><br>
興趣: <%= @user.interest %><br>
配對狀態: <%= @user.match_type %><br>
信封數: <%= @user.envelope %><br>
分數: <%= @user.points %><br>
建立時間: <%= @user.created_at %><br>
更新時間: <%= @user.updated_at %><br>

</div>