<ul class="admin-nav">
  <li class="nav-item">
    <%= link_to_unless_current '使用者列表', admin_users_path, class: 'btn btn-large' do %>
      <%= link_to '使用者列表', admin_users_path, class: 'btn btn-large active' %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to_unless_current '問題列表', admin_questions_path, class: 'btn btn-large' do %>
      <%= link_to '問題列表', admin_questions_path, class: 'btn btn-large active' %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to_unless_current '回答列表', admin_answers_path, class: 'btn btn-large' do %>
      <%= link_to '回答列表', admin_answers_path, class: 'btn btn-large active' %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to_unless_current '配對列表', admin_matches_path, class: 'btn btn-large' do %>
      <%= link_to '配對列表', admin_matches_path, class: 'btn btn-large active' %>
    <% end %>
  </li>
</ul>