<!DOCTYPE html>
<html>
  <head>
    <title>Eaves</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <nav id="nav-bar">
        <div class="nav-wrapper">
          <div class="brand-logo right">
            <% if current_user %>
              <% if current_user.admin? %>
                <%= link_to main_app.admin_users_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"管理後台" } do %>
                  <span style="position: absolute; top: 5px; left: 5px; color: red;">B</span>
                <% end %>
                <%= link_to main_app.sidekiq_web_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"Sidekiq" } do %>
                  <span style="position: absolute; top: 5px; left: 5px; color: red;">S</span>
                <% end %>
              <% end %>
              <%= link_to main_app.notifications_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"通知" } do %>
                <i class="material-icons">notifications</i>
              <% end %>
              <%= link_to main_app.conversations_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"聊天室" } do %>
                <i class="material-icons">chat</i>
              <% end %>
              <%= link_to main_app.user_path(current_user), class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"個人檔案" } do %>
                <i class="material-icons">settings_applications</i>
              <% end %>
              <%= link_to main_app.destroy_user_session_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"登出" } do %>
                <i class="material-icons">exit_to_app</i>
              <% end %>
              <% else %>
              <%= link_to main_app.new_user_registration_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"註冊" } do %>
                <i class="material-icons">assignment</i>
              <% end %>
              <%= link_to main_app.new_user_session_path, class:"tooltipped", :data => { :position=>"bottom", :tooltip=>"登入" } do %>
                <i class="material-icons">eject</i>
              <% end %>
            <% end %>
          </div>
          <ul class="right hide-on-med-and-down"></ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo"></ul>
      <div style="height: 56px;"></div>
      <a id="sidenav-trigger-id" class="btn-floating btn-large sidenav-trigger full hide-on-large-only" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a>

      <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li class="logo bold" style="margin-top: 0;">
          <div class="logo-wrap">
            <div class="logo-background">
              <%= image_tag "bricks.jpg" %>
            </div>
            <div class="logo-background-shadow"></div>
            <%= link_to main_app.root_path, class:"waves-effect waves-light", id:"logo-click", style:"width:299px;" do %>
            <p id="logo-p" class="">EAVES</p>
            <% end %>
          </a>
          </div>
        </li>
        <% if current_user %>
        <li id="nav-1" class="bold">
          <%= link_to main_app.my_matches_path, class:"waves-effect waves-orange waves-light" do %>
            <i class="material-icons">people_outline</i>
            <span style="margin-left: 12px;">終結單身</span>
          <% end %>
        </li>
        <li id="nav-2" class="bold">
          <%= link_to main_app.me_pages_path, class:"waves-effect waves-orange waves-light" do %>
            <i class="material-icons">perm_identity</i>
            <span style="margin-left: 12px;">個性工廠</span>
          <% end %>
        </li>
        <li id="nav-3" class="bold">
          <%= link_to main_app.help_matches_path, class:"waves-effect waves-orange waves-light" do %>
            <i class="material-icons">record_voice_over</i>
            <span style="margin-left: 12px;">熱心民眾</span>
          <% end %>
        </li>
        <%end%>
        <li id="nav-4" class="bold">
          <%= link_to main_app.about_index_path, class:"waves-effect waves-orange waves-light" do %>
            <i class="material-icons">school</i>
            <span style="margin-left: 12px;">關於服務</span>
          <% end %>
        </li>
      </ul>
    </header>

    <main role="main">
      <% if notice %>
        <script>M.toast({html: '<%= escape_javascript notice %>'})</script>
      <% end %>
      <% if alert %>
        <script>M.toast({html: '<%= escape_javascript alert %>'})</script>
      <% end %>
      <%= yield %>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">About Eaves</h5>
              <p class="grey-text text-lighten-4">Eaves 致力於開發一個特別的交友服務，讓異性彼此相識的第一印象不是外表，而是對事物的價值觀．價值觀沒有對錯、沒有孰是孰非，只是我們的選擇．</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li>
                  <%= link_to '關於服務',main_app.about_index_path, class:"grey-text text-lighten-3" %>
                </li>
                <li>
                  <%= link_to '開發團隊',main_app.team_path, class:"grey-text text-lighten-3" %>
                </li>
                <li><a href="mailto:example@example.com" class="grey-text text-lighten-3" href="#!">聯絡我們</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright
          </div>
        </div>
      </footer>
    </main>
  <script>

    jQuery(document).ready(function() {

    M.AutoInit();

    //Animate CSS initailize
    $.fn.extend({
      animateCss: function(animationName, callback) {
        var animationEnd = (function(el) {
          var animations = {
            animation: 'animationend',
            OAnimation: 'oAnimationEnd',
            MozAnimation: 'mozAnimationEnd',
            WebkitAnimation: 'webkitAnimationEnd',
          };

          for (var t in animations) {
            if (el.style[t] !== undefined) {
              return animations[t];
            }
          }
        })(document.createElement('div'));

        this.addClass('animated ' + animationName).one(animationEnd, function() {
          $(this).removeClass('animated ' + animationName);

          if (typeof callback === 'function') callback();
        });

        return this;
      },
    });

    //logo rubberBand特效+延後連結時間
    $( "#logo-click" ).on( "click", function(event) {
      $('#logo-p').animateCss('rubberBand');
      event.preventDefault();
      var url = $(this).attr('href');
      setTimeout(function(){window.location.href = url}, 1200);
    });

  })

  </script>
  </body>
</html>
